<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>img </h1>
<img src="{% static 'pj2md/base1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/bootstrap.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db2.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db3.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db4.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db5.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db6.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db7.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db8.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db9.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db10.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/db11.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/decide.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/django.jpg' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh2_1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh2_2.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh2_3.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh2_4.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh3_1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh3_2.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh3_3.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh4.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh4_1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh4_2.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh4_3.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh4_4.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh5.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh5_1.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh5_2.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/gragh5_3.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/login.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/login2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/main.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/merge.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/merge2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/mnbar.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/mvt.jpg' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/order.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page3.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page4.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page5_1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page5_2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/page6.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/pop1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/pop2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/quit.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel1_1.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel2.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel3.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel4.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/rel5.PNG' %}" alt="" class="img-fluid">

<img src="{% static 'pj2md/shop.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/tableau.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/time.png' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/update.PNG' %}" alt="" class="img-fluid">
<img src="{% static 'pj2md/update2.PNG' %}" alt="" class="img-fluid">







</body>
</html>